.pattern{
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    background-color:rgb(78, 160, 255);
    background-size: contain;
    height: 150px;
    
}

#logo{
    height: 80px;
    margin-top: 70px;
    margin-left: 100px;
}

.titolo{
    margin-bottom: 0;
}

.grigio{
    color: gray;
}


.booleaner{
    color: rgb(32, 169, 229);
}


.tabella{
    text-align: left;
    border-collapse: collapse;
    height: 200px;
    width: 80%;
}

.thead{
    background-color:rgb(32, 169, 229);
    color: white;
}

.riga{
    background-color: rgb(177, 229, 242);
}

.monitor{
    background-image: url(img/monitor.jpg);
    background-size: auto;
    height: 200px;
    width: 300px;
    color: white;
}

.grafico{
    background-image: url(img/graph.jpg);
    background-size: auto;
    height: 200px;
    width: 300px;
    color: white;
}

.margine{
    margin-left: 100px;
    margin-right: 100px;
}